@use '../mixins/fonts' as font-mix;
@use '../mixins/adaptive' as adaptive;
@use '../mixins/header-container' as container;
@use 'todoshka';

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 35px;
  column-gap: 24px;

  @include adaptive.desktop{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 24px;
  }

  @include adaptive.laptop {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 12px;
  }

  @include adaptive.tablets{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 12px;
  }

  &__container {
    display: grid;
    grid-template-rows: min-content 1fr;
    row-gap: 25px;
    min-width: 200px;
    min-height: 70vh;
    @include container.header-container;

    &:hover{
      --opacity: 1;
    }

    &__header{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      height: 24px;

      &__title{
        @include font-mix.on-rubik-medium-black-font(20px);
      }

      &__button{
        display: grid;
        justify-content: end;
        align-items: center;

        button {
          opacity: var(--opacity);
          transition: opacity .25s ease;
          width: 24px;
          height: 24px;
          background-color: var(--green-color);
          border-radius: 15px;
          color: #ffffff;
          text-align: center;
        }

        &--remove{
          button {
            background-color: var(--red-color);
          }
        }
      }
    }

    &__content{
      display: grid;
      grid-auto-rows: min-content;
      row-gap: 16px;
    }
  }
}