@use "sass:map";

$black: #000000;
$white: #ffffff;
$grey: #6c6c6c;

$fonts: (
  "Rubik-medium-black": (
    "color": $black,
    "font-weight": 500,
    "line-height": 20px,
    "letter-spacing": 0,
  ),
  "Rubik-regular-black":(
     "color": $black,
     "font-weight": 400,
     "line-height": 20px,
     "letter-spacing": 0,
  ),
  "Rubik-regular-white":(
     "color": $white,
     "font-weight": 400,
     "line-height": 20px,
     "letter-spacing": 0,
  ),
  "Rubik-medium-grey": (
      "color": $grey,
      "font-weight": 500,
      "line-height": 20px,
      "letter-spacing": 0,
  ),

)