@use "scss/reset";
@use "scss/components/header";
@use "scss/components/main";
@use "scss/components/dialog";
@use 'scss/mixins/adaptive' as adaptive;

body {
  padding: 28px 20px;
  font-family: "Rubik", sans-serif;
  user-select: none;
  @include adaptive.tablets{
    padding: 28px 10px;
  }
}